body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: pink;
}

.calculator {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

#display {
    grid-column: span 4;
    background-color: #190992;
    color: white;
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.btn {
    padding: 20px;
    font-size: 1.5rem;
    border: none;
    background-color: #f9f9f9;
    cursor: pointer;
}

.btn:active {
    background-color: #ddd;
}

#equals {
    grid-column: span 2;
    background-color: #00ff66;
    color: white;
}

#equals:active {
    background-color: #52e000;
}
